@import "../../sass/utilities/variables";

.Table {
  // border: 1px solid $textColor;
  padding: 0 10px;
  &_head {
    padding: 15px 0;
    background: $offColor;
    border-top: 1px solid $textColor;
    &_th {
      text-align: center;
      font-size: 1.25rem;
      color: $mainColor;
      border-left: 1px solid $textColor;
      border-right: 1px solid $textColor;
    }
  }
  &_body {
    tr {
        &:nth-of-type(even){
            background-color: $offColor;
        }
    }
    &_td {
      padding: 15px;
      text-align: center;
      border-left: 1px solid $textColor;
      border-right: 1px solid $textColor;
      vertical-align: middle;
      font-size: 1.05rem;
      color: $textColor;
      &_img {
        max-width: 100px;
      }
    }
  }
}
